/Microsoft.AspNetCore.Identity.Mongo/bin
/Microsoft.AspNetCore.Identity.Mongo/obj
/Microsoft.AspNetCore.Identity.Mongo/.vs
/.vs
/Examples/SampleWebSite/bin/
/Examples/SampleWebSite/obj
/Examples/SampleWebSite/Properties/PublishProfiles
/AspNetCore.Identity.Mongo/bin
/AspNetCore.Identity.Mongo/obj
/Examples/SampleWebSite/bin/
/Examples/Example.DefaultUser/bin/
/Examples/Example.DefaultUser/obj
/packages/Tests/UnitTests/obj
/Tests/UnitTests/bin
/packages
/Tests/UnitTests/obj
/SelfCheck/bin
/SelfCheck/obj
/Examples/Example.DefaultUser/Example.CustomUser.csproj.user
