/Microsoft.AspNetCore.Identity.Mongo/bin
/Microsoft.AspNetCore.Identity.Mongo/obj
/Microsoft.AspNetCore.Identity.Mongo/.vs
/.vs
/Examples/SampleWebSite/bin/
/Examples/SampleWebSite/obj
/Examples/SampleWebSite/Properties/PublishProfiles
/AspNetCore.Identity.Mongo/bin
/AspNetCore.Identity.Mongo/obj
/Examples/SampleWebSite/bin/
/Examples/Example.DefaultUser/bin/
/Examples/Example.DefaultUser/obj
/packages/Tests/UnitTests/obj
/Tests/UnitTests/bin
/packages
/Tests/UnitTests/obj
/SelfCheck/bin
/SelfCheck/obj
/Examples/Example.DefaultUser/Example.CustomUser.csproj.user
/Sample Site/bin/Release/netcoreapp2.2
/Sample Site/bin/Debug/netcoreapp2.2
/TO BE UPDATED/SelfCheck/obj/Release/netcoreapp2.2
/TO BE UPDATED/SelfCheck/obj/Release/netcoreapp2.1
/TO BE UPDATED/SelfCheck/obj
/TO BE UPDATED/SelfCheck/bin/Release
/TO BE UPDATED/Examples/Example.DefaultUser/bin
/Sample Site/obj
/TO BE UPDATED/Examples/Example.DefaultUser/obj
/TO BE UPDATED/SelfCheck
/TestSite/bin/Release/netcoreapp3.0
/TestSite/obj/Release/netcoreapp3.0
