/Microsoft.AspNetCore.Identity.Mongo/bin
/Microsoft.AspNetCore.Identity.Mongo/obj
/.vs/Microsoft.AspNetCore.Identity.Mongo/v15/Server/sqlite3
/Microsoft.AspNetCore.Identity.Mongo/.vs
/.vs
/Examples/SampleWebSite/bin/Debug/netcoreapp2.0
/Examples/SampleWebSite/obj
/Examples/SampleWebSite/Properties/PublishProfiles
/AspNetCore.Identity.Mongo/bin
/AspNetCore.Identity.Mongo/obj
/Examples/SampleWebSite/bin/Release/netcoreapp2.0
