@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mb-5">
    <h1 class="display-4">An Italian nerd in Prague</h1>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="card text-white bg-dark" style="max-width: 18rem;">
            <div class="card-header">Articles</div>
            <div class="card-body">

            </div>
        </div>
    </div>
    <div class="col-md-9">
        <section>
            <p class="text-center">
                <a href="/user" class="btn btn-bg btn-dark"> User managment</a>
            </p>
        </section>
    </div>
</div>