<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Matteo Fabbri</title>

    <meta name="description" content="Matteo Fabbri, un nerd italiano che vive a Praga"/>
    <meta property="og:locale" content="it_IT"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Il Blog di Matteo Fabbri"/>
    <meta property="og:description" content="Matteo Fabbri, un nerd italiano che vive a Praga"/>
    <meta property="og:url" content="https://matteofabbri.org/"/>
    <meta property="og:site_name" content="Matteo Fabbri, un nerd italiano che vive a Praga"/>

    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:description" content="Matteo Fabbri, un nerd italiano che vive a Praga"/>
    <meta name="twitter:title" content="Il Blog di Matteo Fabbri"/>
    <meta name="twitter:site" content=""/>

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="~/lib/jodit/jodit.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.min.css"/>
    <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome-all.min.css"/>

    <link rel="canonical" href="http://mgpf.it/"/>

    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/popper.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/jquery.ajax.form.js"></script>
    <script src="~/lib/jodit/jodit.min.js"></script>
    <script src="~/lib/font-awesome/js/fontawesome.min.js"></script>
    <script src="~/lib/font-awesome/js/fontawesome-all.min.js"></script>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Matteo Fabbri</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dropbox">Drop box</a>
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link" href="/manage/index">My account</a>
                    </li>
                    if (User.IsInRole("admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/blog">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/user">Users</a>
                        </li>
                    }
                }
            </ul>
            <form action="/search" class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" name="q" type="search" placeholder="Cerca" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Cerca</button>
            </form>
        </div>
    </nav>
    <div class="container body-content">
        <div class="row" style="margin-top: 32px">
            <div class="col-md-12" style="min-height: 60vh">

                @if (ViewData.ModelState[""] != null && ViewData.ModelState[""].Errors.Count > 0)
                {
                    <div class="alert alert-danger alert-dismissible fade show text-center">
                        <button type="button" class="close" data-dismiss="alert">×</button>

                        @foreach (var error in ViewData.ModelState[""].Errors)
                        {
                            @error.ErrorMessage
                            <br/>
                        }
                    </div>
                }
                @RenderBody()
            </div>
        </div>
        <hr/>
        <footer>
            <div class="row">
                <div class="col-4">
                    <p>&#169; 2017 - Matteo Fabbri</p>
                </div>
                <div class="col-4">
                    <a href="https://twitter.com/theqult" target="_blank">&gt; <i class="fab fa-twitter-square"></i> Twitter</a>
                    <br/>
                    <a href="https://www.linkedin.com/in/theqult/" target="_blank">&gt; <i class="fab fa-linkedin"></i> Linkedin</a>
                    <br/>
                    <a href="https://www.instagram.com/theqult" target="_blank">&gt; <i class="fab fa-linkedin"></i> Instagram</a>
                </div>
                <div class="col-4">
                    <a href="/account/login">&gt; Accesso</a>
                </div>
            </div>
        </footer>
    </div>
</div>
<script>
    var _paq = _paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
        var u = "//stat.mercati.news/";
        _paq.push(['setTrackerUrl', u + 'piwik.php']);
        _paq.push(['setSiteId', '1']);
        var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
        g.type = 'text/javascript';
        g.async = true;
        g.defer = true;
        g.src = u + 'piwik.js';
        s.parentNode.insertBefore(g, s);
    })();

    $(document).ready(function() {
        var editor = new Jodit('#area_editor',
            {
                textIcons: false,
                iframe: false,
                iframeStyle: '*,.jodit_wysiwyg {color:red;}',
                height: 300,
                defaultMode: Jodit.MODE_WYSIWYG,
                observer: {
                    timeout: 100
                },
                uploader: {
                    url: 'http://mercati.news/file/upload'
                },
                /*filebrowser: {
                    // buttons: ['list', 'tiles', 'sort'],
                    ajax: {
                        url: 'https://xdsoft.net/jodit/connector/index.php'
                    }
                },*/
                commandToHotkeys: {
                    'openreplacedialog': 'ctrl+p'
                }
                // buttons: ['symbol'],
                // disablePlugins: 'hotkeys,mobile'
            });


        var options =
        {
            success: function(response, statusText, xhr, $form) {
                var s = window[response.onSuccess];
                s(response);
            }

            // other available options:
            //url:       url         // override for form's 'action' attribute
            //type:      type        // 'get' or 'post', override for form's 'method' attribute
            //dataType:  null        // 'xml', 'script', or 'json' (expected server response type)
            //clearForm: true        // clear all form fields after successful submit
            //resetForm: true        // reset the form after successful submit

            // $.ajax options can be used here too, for example:
            //timeout:   3000
        };

        // bind form using 'ajaxForm'
        $('.ajax-form').ajaxForm(options);
    });

</script>
<!-- End Matomo Code -->

@RenderSection("Scripts", false)
</body>
</html>