@using Example.DefaultUser.Modules.Blog
@model Example.DefaultUser.Modules.Blog.BlogArticle

@{
    ViewData["Title"] = "Create";
}

<h2>Add a new article to the blog</h2>

<hr/>
<script>
    function addValue() {
        var text = $("#txtNewCategory").val();
        $('#category').append('<option value="' + text + '" selected="selected">' + text + '</option>');
    }
</script>

<form asp-action="Create" style="width: 100%">
    <div class="row">
        <div class="col-md-9">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control"/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Link" class="control-label"></label>
                <input asp-for="Link" class="form-control"/>
                <span asp-validation-for="Link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Body" class="control-label"></label>
                <textarea asp-for="Body" id="area_editor" class="form-control" rows="7"></textarea>
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default"/>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <select name="category" id="category" class="form-control">
                    @foreach (var cat in BlogArticle.Categories)
                    {
                        <option value="@cat">@cat</option>
                    }
                </select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" for="Category">Or add new</label>
                <input type="text" id="txtNewCategory" class="form-control"/>
                <a href="javascript:addValue()" class="btn btn-outline-primary form-control" id="addOptionToCategory">Add</a>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Visible" checked="checked"/> @Html.DisplayNameFor(model => model.Visible)
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a asp-action="Index">&lt; Back to List</a>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}