@using Example.DefaultUser.Modules.Blog
@model Example.DefaultUser.Modules.Blog.BlogArticle

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-default"/> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>