@using Example.DefaultUser.Modules.Blog
@model IEnumerable<Example.DefaultUser.Modules.Blog.BlogArticle>

<h2>@ViewData["Title"]</h2>

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-md-10">
            <h1>
                <a href="/read/@item.Link">@item.Title</a>
            </h1>
            <p>
                @Html.Raw(item.Body.Substring(0, Math.Min(item.Body.Length, 300)))
            </p>
        </div>
        <div class="col-md-2">
            @item.DateTime.ToShortDateString()
        </div>
    </div>
}